// FUNCTIONS

// Returns the grid settings based on the $grid-size which is passed through
// Parameters are S, M, L or XL
@function grid-settings($grid-size) {

  $grid: "";

  @if $grid-size == S {
    $grid: $grid-S;
  }
  @else if $grid-size == M {
    $grid: $grid-M
  }
  @else if $grid-size == L {
    $grid: $grid-L
  }
  @else if $grid-size == XL {
    $grid: $grid-XL
  }

  @return $grid;
}

@function to-em($val) {
  @return ($val / $base-font-size-px) * 1em;
}

@function get-grid-settings($grid-size, $col-span) {
  // Build a Sass Map with all calculated grid settings

  $grid: grid-settings($grid-size); // Get the grid context and pull out the settings

  $grid-width: map-get($grid, grid-size);
  $col-width: map-get($grid, column-width);
  $cols: map-get($grid, column-count);
  $gutters: (map-get($grid, column-count)) - 1; // Calculate the number of gutters in this grid (column-count - 1)
  $gutter-span: $col-span - 1; // Calculate the number of gutters to span
  $gutter-width: ($grid-width - ($col-width * $cols)) / $gutters; // Get the width of gutters in this grid
  $width: ($col-width * $col-span) + ($gutter-width * $gutter-span); // Calculate the width of this column span

  $grid-settings: (
    grid-width: $grid-width,
    col-width: $col-width,
    cols: $cols,
    gutters: $gutters,
    gutter-width: $gutter-width,
    gutter-span: $gutter-span,
    width: $width
  );

  @return $grid-settings;
}