<div class="fw-tip">
 <p>Psst did you know? <span class="fw-tip__inner" id="fw-tip__inner"></span></p> 
</div>

<header class="fw-mast">

  <div class="row">

    <div class="col-xs-12">
      <a id="c-button--slide-left" class="c-button">
        <svg width="17" height="12">
          <path d="M0,1 17,1" />
          <path d="M0,6 17,6" />
          <path d="M0,11 17,11" />
        </svg>
      </a>
    </div>

    <nav id="c-menu--slide-left" class="c-menu c-menu--slide-left">
      <a class="c-menu__close">&larr; Close Menu</a>
      <ul class="c-menu__items">
        <li class="c-menu__item"><a href="#" class="c-menu__link">Home</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">About</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">Services</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">Work</a></li>
        <li class="c-menu__item"><a href="#" class="c-menu__link">Contact</a></li>
      </ul>
    </nav><!-- /c-menu slide-left -->

  </div>
  <!-- / row -->
  
</header>
<!-- / fw-mast -->
