<header class="global-header">

  	<div class="row middle">

  		<div class="col-m-2">
  			<a href="#" class="fw-logo">
  				<img src="{{ '/assets/img/white-logo.png' | prepend: site.baseurl }}" alt="Virgin Money">
  			</a>
  		</div>
      <!-- / col -->

  		<div class="col end">
  			<nav class="fw-nav fw-primary-nav"> 
	  			<ul>
	  				<li class="fw-nav__item"><a href="#">Style Guide</a></li>
	  				<li class="fw-nav__item"><a href="#">Standards</a></li>
	  				<li class="fw-nav__item"><a href="#">Guides</a></li>
	  				<li class="fw-nav__item"><a href="#">Downloads</a></li>
	  			</ul>
  			</nav>
  		</div>
      <!-- / col -->

  	</div>
  	<!-- / row -->

</header>
