.fw-nav {

	ul {
		margin: 0;
		padding: 0;
	}

	.fw-nav__item {
		padding: 0;
		display: block;

		&:before {
			content: none;
		}

		a {
			color: #FFF;
			font-size: 17px;
			text-decoration: none;
		}
	}
}

.fw-primary-nav {

	.fw-nav__item {
		display: inline;
		margin: 0 40px 0 0;

		&:last-child {
			margin: 0;
		}
	}
}

.fw-secondary-nav {
	background: #cc0000;
	padding: 40px;
	height: 100%;

	.fw-nav__item {
		margin: 0 0 20px 0;
	}
}

